@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Amaru</h1>
    <p>Learn about mi libro: <a href="https://www.wattpad.com/story/285245366-recibido">"Recibido"</a>.</p>
</div>
